<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Searchemploye</servlet-name>
        <servlet-class>Searchemploye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Orginfo</servlet-name>
        <servlet-class>Orginfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrg</servlet-name>
        <servlet-class>SearchOrg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrg</servlet-name>
        <servlet-class>AddOrg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdmin</servlet-name>
        <servlet-class>AddAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmploye</servlet-name>
        <servlet-class>UpdateEmploye</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Searchemploye</servlet-name>
        <url-pattern>/Searchemploye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Orginfo</servlet-name>
        <url-pattern>/Orginfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrg</servlet-name>
        <url-pattern>/SearchOrg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrg</servlet-name>
        <url-pattern>/AddOrg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdmin</servlet-name>
        <url-pattern>/AddAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmploye</servlet-name>
        <url-pattern>/UpdateEmploye</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
